.vg-partners {
	//background: url("/assets/_frontend/images/resource/partners/partner.jpeg") 0 66% no-repeat;
	//background-size: cover;
	background-color: $color-text;
	position: relative;
	padding-top: 84px;
	padding-bottom: 34px;
	border-bottom: 1px solid rgba($border-color, .5);

	&:before {
		content: '';
		@include fullAbsolute;
		background-color: rgba($color-text, .3);
	}

	.image-area {
		width: 100%;
		height: 135px;
		padding: 24px;
		background-color: $light;

		img {
			@include fit(contain);
		}
	}

	.swiper {
		.swiper-wrapper {
			padding-bottom: 50px;
		}
	}
}