.vg-form {
	width: 100%;

	.form-group {
		position: relative;
		font-family: $font-family-heading;
		overflow: hidden;

		&__label {
			position: absolute;
			left: 19px;
			top: 20px;
			transition: $transition;
			@include font-prop(16px, normal, $color-text, 22px);
			margin: 0;
			cursor: text;
			@include textDoted;

			&.with-select2 {
				top: 8px;
				@include font-prop(12px, normal, #aaaeb4, 14px);

				&.show {
					color: $color-theme;
				}
			}
		}

		&__forgot {
			position: absolute;
			right: 19px;
			top: 20px;

			a {
				@include font-prop(14px, normal, darken(#aaaeb4, 5%), 16px);
			}
		}

		&__input {
			width: 100%;
			height: auto;
			background-color: transparent;
			border: 1px solid $border-color;
			border-radius: 0;
			padding: 28px 12px 10px 18px;
			@include font-prop(18px, normal, $color-text, 22px);

			&::placeholder {
				color: rgba($light, 0);
			}

			&:required:focus {
				border-color: darkred;

				+ .form-group__label {
					@include font-prop(12px, normal, darkred, 14px);
					top: 8px;
				}
			}

			&:focus {
				border-color: $color-theme;

				+ .form-group__label {
					@include font-prop(12px, normal, $color-theme, 14px);
					top: 8px;
				}
			}

			&:not(:placeholder-shown) {
				border-color: $border-color;

				+ .form-group__label {
					@include font-prop(12px, normal, $color-text, 14px);
					top: 8px;
				}
			}

			&[disabled] {
				background-color: $border-color;
			}
		}

		textarea {
			/*min-height: 150px;*/
		}
	}

	&-dark {
		.form-group {
			.form-group__label {
				color: rgba($light, 0.8) !important;
			}

			.form-group__input {
				color: rgba($light, 0.8);
				border-color: rgba($light, 0.1);

				&:required:focus {
					border-color: rgba($light, 0.3);

					+ .form-group__label {
						color: white;
					}
				}

				&:not(:placeholder-shown) {
					border-color: #696767;
				}

				&:focus {
					+ .form-group__label {
						color: white;
					}
				}

				&:-webkit-autofill {
					-webkit-box-shadow: inset 0 0 0 50px rgba($dark, .9);
					-webkit-text-fill-color: rgba($light, 0.8);
				}
			}
		}
	}
}

/** Checkbox n' radio **/
/* Basic styles */
input[type="checkbox"], input[type="radio"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

label {
	&.checkbox {
		position: relative;
		display: inline-block;
		padding: 0 0 0 1.6em;
		height: 1.5em;
		line-height: 1.2;
		cursor: pointer;
		color: $color-text !important;
		font-weight: 300;
		font-size: 15px;
		margin-bottom: 0;

		&:before, &:after {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 16px;
			height: 16px;
			font-family: $font-family-base;
		}

		&:before {
			content: '';
			border: 1px solid lighten($color-theme, 30%);
			border-radius: 20%;
		}
	}
}

/* Checkbox */
input[type="checkbox"] + label.checkbox:after {
	content: "\2714";
	color: $color-theme !important;
	line-height: 1;
	font-size: .95em;
	text-align: center;
	top: 2px;
	left: 1px;
}

/* Radio */
input[type="radio"] + label.checkbox::before {
	border-radius: 50%;
}

input[type=radio] + label.checkbox::after {
	content: " ";
	top: 5px;
	left: 3px;
	width: 10px;
	height: 10px;
	background: $color-theme;
	border: none;
	border-radius: 50%;
}

/* :checked */
input[type="checkbox"]:checked + label.checkbox::before,
input[type="radio"]:checked + label.checkbox::before {
	background: #fff;
	border-color: lighten($color-theme, 10%);
}

input[type="radio"]:checked + label.checkbox {
	color: $color-theme !important;
}

input[type="checkbox"] + label.checkbox::after,
input[type=radio] + label.checkbox::after {
	transform: scale(0);
}

input[type="checkbox"]:checked + label.checkbox::after,
input[type=radio]:checked + label.checkbox::after {
	transform: scale(1);
}

/* Transition */
label.checkbox::before,
label.checkbox::after {
	transition: .25s all ease;
}
